<div class="jumbotron text-center">
  <h1>Dashboard</h1>
  <p class="lead">Check your customer orders, inventory listing and more.</p>
  <hr class="my-4">
</div>
<div class="container">
  <h2 class="text-center">Orders</h2>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">Customer</th>
          <th colspan="4" scope="col">Product</th>
        </tr>
        <tr class="table-secondary">
          <th></th>
          <th *ngFor="let product of products">{{product.name}}</th>
        </tr>
        <tr *ngFor="let customer of customers">
          <th class="table-secondary" scope="row">{{customer.name}}</th>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
</div>