<div class="jumbotron text-center">
  <h1>Dashboard</h1>
  <p class="lead">Check your customer orders, inventory listing and more.</p>
  <hr class="my-4">
</div>
<div class="container">
  <h2 class="text-center">Orders</h2>
  <div class="row">
    <!-- <table class="table table-hover" style="text-align: center" *ngFor="let customer of customers">
      <thead>
        <tr>
          <th colspan="2" class="table-primary">Customer:&nbsp; {{customer.name}}</th>
        </tr>
        <tr class="table-primary">
          <th scope="col">Product</th>
          <th colspan="4" scope="col">Quantity</th>
        </tr>
      </thead>
      <ng-container *ngIf="getOrdersByCustomer(customer.customerId) != 0; else noOrders">
        <tbody *ngFor="let order of getOrdersByCustomer(customer.customerId); let i = index" [attr.data-index]="i">
          <tr>
            <td colspan="2">Order {{order.orderId}}</td>
          </tr>
          <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{getOrderItemForProductForOrder(product.productId, order.orderId) ?
              getOrderItemForProductForOrder(product.productId, order.orderId).quantity : 0}}</td>
          </tr>
        </tbody>
      </ng-container>

      <ng-template #noOrders>
        <tbody>
          <tr style="height: 500px">
            <td colspan="2">No orders</td>
          </tr>
        </tbody>
      </ng-template>

    </table> -->

    <table class="table table-hover" style="text-align: center" *ngFor="let order of orders">
      <thead>
        <tr>
          <th>Order:{{order.orderId}}</th>
          <th *ngFor="let product of products; let i = index" [attr.data-index]="i">{{product.name}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let customer of customers">
          <tr>
            <th>{{customer.name}}</th>
            <ng-container *ngFor="let product of products">
              <td>{{getOrderItemForProductForOrderForCustomer(product, order, customer) ?
                getOrderItemForProductForOrderForCustomer(product, order,
                customer).quantity : 0}}</td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>